/* Style Swiper */
@import url("./css/swiper.module.css");
/* Style Login Form */
@import url("./css/form.module.css");

.container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    gap: 10px;
    /* background-color: #30243c; */
    background-color: grey;
    border-radius: 15px;
}
input {
    max-width: 100%;
    box-sizing: border-box;
}