.main {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: #30243c;
    border-radius: 15px;
}
.my-swiper {
    width: 40%;
    height: 100%;
    border-radius: 15px;
}
.slide-image {
    width: 100%;
    cursor: pointer;
}
.swiper-pagination-bullet {
    background-color: #534c5b; 
    opacity: 1;
    width: 30px; 
    height: 5px; 
    margin: 0 5px; 
    border-radius: 4px;
}
.swiper-pagination-bullet-active {
    background-color: #ededed;
}
.back-to-website {
    position: absolute;
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white; /* Text color */
    padding: 5px 10px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* No underline */
    transition: background-color 0.3s; /* Smooth background color transition */
}
.login-form {
    width: 60%;
    padding: 20px;
}