@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1debc;
  --foreground: #4c2113;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1debc;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet {
  background-color: #534c5b;
  opacity: 1;
  width: 30px; 
  height: 5px; 
  margin: 0 5px; 
  border-radius: 4px;
}

.swiper-pagination-bullet-active {
  background-color: #ededed;
}