.form-container {
    width: 60%;
    padding: 20px 50px 20px 50px;
    color: black;
    background-color: white;
    text-align: center;
}
.form-header {
    padding: 5px;
    margin-bottom: 20px;
}
/* .form-header p {
    color: #a1a1a1;
} */
.form-greeting {
    font-size: 30px;
}
.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin: auto;
    width: 70%;
}
.toggle-btn {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    border-right: none;
}
.toggle-btn:last-child {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #ddd;
}
.toggle-btn.enable {
    background: #fff;
    border-bottom: 2px solid #000;
}
.form-body {
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    text-align: center;
    width: 85%;
    margin: auto;
    color: #fff;
}
.form-input {
    margin-bottom: 20px;
}
.name-group {
    display: flex;
    gap: 20px;
}
.form-input input[type="text"],
.form-input input[type="email"],
.form-input input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: grey solid 2px;
    border-radius: 4px;
    font-size: 16px;
}
.signup-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #6c4ef3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.signup-button:hover {
    background-color: #5b42d1;
}
.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: 20px auto;
}
.form-separator {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.horizontal-line {
    flex: 1;
    height: 1px;
    background-color: #a1a1a1;
}
.register-text {
    margin: 0 10px;
    color: #a1a1a1;
    font-size: 14px;
}
.social-signup {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.social-signup button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}
.google-btn {
    background-color: #db4437;
}
.facebook-btn {
    background-color: #1977f3;
}
.google-btn:hover {
    background-color: #c33d2e;
}
.facebook-btn:hover {
    background-color: #0469f0;
}